<div class="nav">
  <div class="left">
    <a class="btn btn-primary continue-button active" (click)="gotoPage('/search-patient')">Home</a>
    <a class="btn btn-primary continue-button">PATIENT LIBRARY</a>
    <a class="btn btn-primary continue-button">MEDICATION LIBRARY</a>
    <a class="btn btn-primary continue-button">REGIMEN LIBRARY</a>
  </div>
  <div class="right">
    <a class="btn btn-primary continue-button">Refresh</a>
    <a class="btn btn-primary continue-button">Settings</a>
    <a class="btn btn-primary continue-button">Info</a>
    <span>01/17/2018</span>
  </div>
  <div class="clear"></div>
</div>
<router-outlet></router-outlet>
