$section: "calendar-bulletin";

:host {
  float: left;
  padding: 15px;
  overflow-y: auto;
  height: 607px;

  ##{$section} {
    h3 {
      margin: 0 0 10px;
    }

    pre {
      background-color: #f5f5f5;
      padding: 15px;
    }
  }
}
