$section: "welcome-screen";
$font-color-1: #2e4277;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

##{$section} {
  margin: 20px 10px;
  > p {
    color: $font-color-1;
    font-size: 16px;
    font-weight: 700;
  }

  ##{$section}-terms {
    padding: 5px;
    overflow-y: scroll;
    height: 350px;
    border: 1px solid #eeeef2;
  }

  a.privacy-link {
    padding: 15px 0;
  }

  .continue-button {
    @include flex-center;
    width: 200px;
  }
}
